<!doctype html>
<html class="no-js" lang="en-us">

    <head>
        <meta charset="utf-8">
        <title>{% block title %}Structs{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/structicons.css">
        <link rel="stylesheet" href="css/sui/sui.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
    {% block javascripts %}
        <script src="js/plugins.js"></script>
        <script src="js/vendor/liga.js"></script>
        <script src="js/main.js"></script>
        <script src="js/index.js"></script>
    {% endblock %}
</html>
