/**
 * Rule Order
 *
 * 1. Positioning
 * 2. Display and Box Model
 * 3. Background and Color
 * 4. Typography
 * 5. Other
 */

/* Keyframes Start */

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out-fade-in {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
/* Keyframes End */

/* Tag Styling Start */

html {
  height: 100%;
  zoom: 1;
}

body {
  height: 100%;
}

/* Tag Styling End */

/* SUI Modifiers Start */

.sui-page-body-screen-content.justified-centered {
  justify-content: center;
  gap: var(--spacing-xl);
}

.sui-page-body-screen-content.mod-positioned-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sui-screen-btn.fixed-256 {
  width: 256px;
}

a.sui-text-secondary,
a.sui-text-secondary:link,
a.sui-text-secondary:visited {
  color: var(--accent-secondary);

  font-family: 'DirectiveZero', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-decoration: underline;
}

a.sui-text-secondary:active,
a.sui-text-secondary:hover {
  color: var(--accent-secondary-active);
  text-decoration: underline;
}

/* SUI Modifiers End */

/* Menu Page Component Styling Start */

#menu-page-layout {
  display: flex;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-direction:column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
}

#menu-page-panel {
  width: 100%;
  min-height: 108px;
  flex: 1 1 auto;
}

#menu-page-dialogue.sui-panel {
  min-height: 64px;
  flex: 0 0 auto;
}

#menu-page-nav-close {
  display: flex;
  align-items: center;
  align-self: stretch;
  gap: 0;
}

#menu-page-body-content {
  display: flex;
  height: 100%;
}

#menu-page-dialogue-indicator {
  overflow: hidden;
}

/* Menu Page Component Styling End */

/* Common Containers Start */

/*

common-layout - has padding
common-group - no padding

*/

.common-layout-col {
  display: flex;
  padding: var(--spacing-xl);
  flex: 1 0 0;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  justify-content: center;
  gap: var(--spacing-xxxl);
}

.common-group-col {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  justify-content: center;
  gap: var(--spacing-xl);
}

.common-group-col.mod-border {
  padding: var(--spacing-xl);
  border: 1px solid var(--border);
}

.common-group-row {
  position: relative;
  display: flex;
  padding: var(--spacing-xl);
  align-items: flex-end;
  align-content: flex-end;
  gap: var(--spacing-xl);
  align-self: stretch;
  flex-wrap: wrap;
}

.common-group-row.mod-border {
  padding: var(--spacing-xl);
  border: 1px solid var(--border);
}

.common-group-row.mod-border label.sui-input-text {
  flex: 1 0 0;
}

/* Common Containers End */

/* Page Specific Styling Start */

.connecting-logo-swap-container {
  display: block;
  position: absolute;
  width: 192px;
  height: 192px;
  overflow: hidden;
}

img.glitch-logo {
  filter: brightness(0) saturate(100%) invert(58%) sepia(39%) saturate(263%) hue-rotate(156deg) brightness(90%) contrast(84%);
}

.snc-logo-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 192px;
  height: 192px;
  overflow: hidden;
}

.snc-logo {
  width: 192px;
}

.snc-logo-wrapper .sui-text-header {
  position: absolute;
  width: 100%;
  top: 137px;
}

.connecting-logo-swap-container .glitch-logo {
  position: absolute;
  top: 0;
  left: 0;
  padding: 32px;
}

.connecting-logo-swap-container .snc-logo-wrapper {
  position: absolute;
  top: 0;
  left: 0;
}

.full-screen-content-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.lottie-scan-lines-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  max-height: 100%;
  width: 100%;
  overflow: hidden;
}

.hrbot-silhouette {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 256px;
  height: 256px;
}

#hrbot-talking-large {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 256px;
  height: 256px;
  opacity: 0;
}

#hrbot-talking-large.mod-opaque {
  opacity: 1;
}

#hrbot-talking-small {
  width: 64px;
  height: 64px;
}

.set-username-wrapper {
  display: flex;
  flex: 1 0 0;
  align-items: flex-start;
  justify-content: center;
  gap: var(--spacing-xl);
}

.set-username-pfp-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-md);
}

.set-username-input-mode {
  display: flex;
  max-width: 320px;
  min-width: 256px;
  flex: 1 0 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xl);
}

.set-username-display-mode {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: -1px;
}

.set-username-pfp {
  display: flex;
  width: 72px;
  height: 72px;
  align-items: center;
  justify-content: center;
  background-image: url("/img/sui/mock/mock-droid-360.png");
  background-repeat: no-repeat;
  box-shadow: -2px 0 0 0 var(--text-player-highlight), 2px 0 0 0 var(--text-player-highlight), 0 -2px 0 0 var(--text-player-highlight), 0 2px 0 0 var(--text-player-highlight);
}

.set-username-screen-body {
  display: flex;
  padding: var(--spacing-xl);
  flex: 1 0 0;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  align-self: stretch;
  justify-content: center;
  gap: var(--spacing-xl) var(--spacing-xxl);
}

.set-username-field-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  justify-content: flex-end;
}

.set-username-btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: stretch;
  justify-content: center;
  gap: 10px;
}

.set-username-chosen-name {
  display: flex;
  padding: 8px var(--spacing-md);
  border: 1px solid var(--accent-disabled);
  align-items: center;
}

.set-username-chosen-name h1 {
  margin: 0;
  color: var(--accent-primary-active);
}

.set-username-profile-created {
  display: flex;
  padding: 8px var(--spacing-md);
  border: 1px solid var(--accent-disabled);
  margin-top: -1px;
  align-items: flex-start;
  justify-content: flex-end;
}

.text-recovery-key {
  font-family: Inter, sans-serif;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.text-recovery-key .mod-white {
  color: #FFF;
}

#recovery-key {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 16px;
  align-self: stretch;
  flex-wrap: wrap;
}

.recovery-key-word {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

#computer-connecting-animation {
  width: 384px;
  height: 128px;
}

.recovery-key-faq-layout {
  display: flex;
  padding: var(--spacing-xl, 16px) 16px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 32px;
}

.recovery-key-faq-question-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--spacing-md);
  text-align: left;
}

.orientation-contract-layout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: var(--spacing-xl);
}

.orientation-contract-text-group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.orientation-contract-text-header {
  display: flex;
  padding: 8px var(--spacing-md);
  border: 1px solid var(--accent-disabled);
  align-items: center;
  color: var(--accent-primary-active);
}

.orientation-contract-text-body {
  display: flex;
  padding: 8px var(--spacing-md);
  border-right: 1px solid var(--accent-disabled);
  border-bottom: 1px solid var(--accent-disabled);
  border-left: 1px solid var(--accent-disabled);
  align-items: flex-start;
  justify-content: flex-end;
}

.orientation-alpha-layout {
  display: flex;
  align-items: center;
  justify-content: center;
}

.orientation-alpha-text-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.orientation-alpha-text-header {
  display: flex;
  padding: 8px var(--spacing-md);
  border: 1px solid var(--accent-disabled);
  align-items: center;
  color: var(--accent-primary-active);
}

.orientation-alpha-text-body {
  display: flex;
  padding: 8px var(--spacing-md);
  border-right: 1px solid var(--accent-disabled);
  border-bottom: 1px solid var(--accent-disabled);
  border-left: 1px solid var(--accent-disabled);
  align-items: flex-start;
  justify-content: flex-end;
}

.orientation-contract-layout i.sui-icon.sui-icon-alpha-matter {
  width: 128px;
  height: 128px;
}

.alpha-matter-128 {
  width: 128px;
  height: 128px;
  background: url("/img/alpha-matter-16x16.png") center/cover no-repeat;
}

/* Page Specific Styling Start */

/* Animated Classes Start */

.fade-in-fade-out {
  animation: fade-out-fade-in 300ms ease-out;
}

.glitch-logo.fade-out {
  opacity: 1;
  animation: fade-out 300ms ease-out;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.snc-logo-wrapper.fade-in {
  opacity: 0;
  animation: fade-in 300ms ease-out;
  animation-delay: 2000ms;
  animation-fill-mode: forwards;
}

#hrbot-talking-large.fade-in {
  animation: fade-in 500ms ease-out;
  animation-fill-mode: forwards;
}

/* Animated Classes End */

/* Utility Classes Start */

.height-100 {
  height: 100%;
}

.hidden {
  display: none !important;
}

/* Utility Classes End */

/* Media Queries Start */

@media only screen and (min-width: 1152px),
only screen and (min-height: 1024px) {
  html {
    width: 50%;
    height: 50%;
    transform: scale(2);
    transform-origin: 0 0;
  }
}
@media only screen and (min-width: 2304px),
only screen and (min-height: 2048px) {
  html {
    width: 25%;
    height: 25%;
    transform: scale(4);
    transform-origin: 0 0;
  }
}

/* Media Queries End */