/* ---- Structs UI Demo Page Only ---- */

#structsUI img {
  filter: brightness(0) saturate(100%) invert(97%) sepia(5%) saturate(838%) hue-rotate(150deg) brightness(86%) contrast(97%);
}

.content {
  margin: 0;
  padding: var(--spacing-xl);
}

.page-panel.sui-panel {
  position: fixed;
  width: 100%;
}

section {
  margin: 40px auto 80px;
}

.ui-element-container {
  margin-bottom: 40px;
}

.section-header {
  color: #43CDB6;
}

.sub-section-header {
  margin: 40px auto 20px;
}

.fixed-height {
  height: 360px;
}

.fixed-width-container-xl {
  display: inline-block;
  max-width: 620px;
  width: 100%;
}

.fixed-width-container-lg {
  display: inline-block;
  max-width: 409px;
  width: 100%;
}

.fixed-width-container-md {
  display: inline-block;
  max-width: 320px;
  width: 100%;
}

.fixed-width-container-sm {
  display: inline-block;
  max-width: 286px;
  width: 100%;
}

.fixed-width-container-xs {
  display: inline-block;
  max-width: 257px;
  width: 100%;
}

.sui-screen-portrait-image.skull-head {
  background-image: url("/img/sui/mock/mock-droid-168.png");
}

.grid-container {
  display: inline-flex;
  flex-direction: column;
  gap: var(--spacing-xl);
  margin: var(--spacing-xl) 0;
}

.grid-row {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-xl);
}

.grid-col {
  flex-grow: 1;
  align-self: stretch;
}

.panel-button-container {
  display: flex;
  gap: 48px;
  flex-direction: row;
  flex-wrap: wrap;
}
