{% extends 'base.html.twig' %}

{% block title %}Structs{% endblock %}

{% block body %}

<div id="menu-page-layout">

    <div id="menu-page-panel" class="sui-panel sui-theme-player">
        <div class="sui-panel-edge-left"></div>
        <div class="sui-panel-chunk sui-mod-grow sui-mod-shrink">
            <div class="sui-screen sui-screen-full-width">
                <div class="sui-screen-nav">
                    <div id="menu-page-nav-items" class="sui-screen-nav-items">
                        <a class="sui-screen-nav-item sui-mod-active" href="javascript:void(0)">Structs</a>
                    </div>
                    <a id="menu-page-nav-close" class="sui-screen-nav-close" href="javascript: void(0)">
                        <i class="sui-icon-sm icon-close"></i>
                    </a>
                </div>
            </div>
            <div class="height-100 sui-screen sui-screen-full-width sui-screen-shrink">
                <div class="height-100 sui-page-body-screen">

                    <div id="menu-page-body-content"></div>

                </div>
            </div>
        </div>
        <div class="sui-panel-edge-right"></div>
    </div>

    <!-- Dialogue Panel Start -->

    <div id="menu-page-dialogue" class="sui-panel sui-theme-enemy">
        <div class="sui-panel-edge-left"></div>
        <div class="sui-panel-chunk">
            <!-- Left Panel Start -->

            <div class="sui-screen sui-theme-player">
                <div id="menu-page-dialogue-indicator" class="sui-screen-indicator">
                    <div class="sui-screen-portrait-image"></div>
                </div>
            </div>

            <div class="sui-panel-chunk-spacer-indicator"></div>

            <!-- Left Panel End -->
        </div>
        <div class="sui-panel-connector"></div>
        <div class="sui-panel-chunk sui-mod-grow">
            <!-- Middle Panel Start -->

            <div class="sui-screen sui-screen-full-width">
                <div id="menu-page-dialogue-screen" class="sui-screen-dialogue sui-theme-neutral"></div>
            </div>

            <!-- Middle Panel End -->
        </div>
        <div class="sui-panel-connector sui-panel-style-medium-to-default"></div>
        <div class="sui-panel-chunk sui-theme-player">
            <!-- Right Panel Start -->

            <div class="sui-dialogue-btn-chunk">
                <div id="menu-page-dialogue-btn-chunk-b" class="sui-dialogue-btn-chunk-col">
                    <div class="sui-panel-chunk-spacer-btn-b"></div>

                    <a id="menu-page-dialogue-btn-b" href="javascript: void(0)" class="sui-panel-btn sui-mod-default">
                        <i class="sui-icon-md icon-arrow sui-flip-horizontal"></i>
                    </a>
                </div>
                <div class="sui-dialogue-btn-chunk-col">
                    <div class="sui-panel-chunk-spacer-btn-a"></div>

                    <a id="menu-page-dialogue-btn-a" href="javascript: void(0)" class="sui-panel-btn sui-mod-default">
                        <i class="sui-icon-md icon-okay"></i>
                    </a>
                </div>
            </div>

            <!-- Right Panel End -->
        </div>
        <div class="sui-panel-edge-right sui-theme-player"></div>
    </div>

    <!-- Dialogue Panel END -->

</div>

{% endblock %}
